%a(href='https://github.com/danbikle/danstar' target='x')
  https://github.com/danbikle/danstar

%h1 Code Star
%p Enter two github usernames:

%form(id="form_cstar" action="/cstar/submit2names" accept-charset="UTF-8" method="get")
  %label(for="name1") Name1
  %input#name1(type="text" name="uname1")
  %label(for="name2") Name2
  %input#name2(type="text" name="uname2")
  %input(type="submit" name="submit" value="Submit")
